header {
	background-image: url("../images/logo.png");
	background-position: 20px center;
	background-repeat: no-repeat;
	background-color: white;
	border-bottom: 1px solid #CCCCCC;
	width: 100%;
	height: 70px;
	top: 0;
}
