.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: relative;
}
.filters button{
	background-color: #FF5A5F;
	position: absolute;
	display: inline-block;
	right: 30px;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 48px;
	width: 20%;
	font-size: 18px;
	border: none;
	border-radius: 4px;
	color: white;
	opacity: 1.0;
}
.filters button:hover{
	opacity: 0.9;
}
