.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: relative;
	/*
	box-shadow: 0 3px 6px rgba(15, 15, 15, 0.1);
	*/
}
.filters button{
	background-color: #FF5A5F;
	position: absolute;
	display: inline-block;
	right: 30px;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 48px;
	width: 20%;
	font-size: 18px;
	border: none;
	border-radius: 4px;
	color: white;
	opacity: 1.0;
}
.filters button:hover{
	opacity: 0.9;
}

.locations, .amenities{
	height: 100%;
	width: 25%;
	display: inline-block;
	position: relative;
	padding: 0 3em;
	line-height: 0.3;
}
.locations h3, .amenities h3,
.locations h4, .amenities h4{
	margin: 1.0em 0;
}
.locations h3, .amenities h3{
	margin-top: 1.5em;
	font-weight: 600;
}
.locations h4, .amenities h4{
	font-weight: 400;
}
.locations{
	border-right: 1px solid #DDDDDD;
}
